# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Production builds
client/dist/
server/dist/

# Environment variables
.env
server/.env
client/.env

# Uploaded assets (images, videos, documents, etc.)
server/uploads/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temp/logs
*.log
ts_errors.txt

# Archives
*.tar.gz
*.tar
*.zip
*.rar
*.7z
*.iso

# Media / Large Assets
*.mp4
*.mp3
*.mov
*.wav
*.avi
*.mkv
*.flv
*.pdf
*.psd
*.ai
*.fig
*.sketch

# Databases
*.sqlite
*.sqlite3
*.db
*.db3

# Office / Documents
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.csv

# Binaries / OS
*.exe
*.dll
*.so
*.dylib
.DS_Store
Thumbs.db

